.normal,
.cooler{
    background-color: rgb(226, 143, 154);
    font-size: 20px;
    font-family: Verdana, 'Dejavu Sans', sans-serif;
}

.cooler{
    font-size: 25px;
}
#blue{
    color: blue;
    font-size: 36px;
}
#green{
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}